<div class="profile-container">
  <div class="row">
    <% if @user.educations.count > 0 %>
      <% @user.educations.each do |e| %>
        <b>Institution:</b> <%= e.institution %> &nbsp;-&nbsp;
        <b>Year:</b> <%= e.year %> &nbsp;-&nbsp;
        <b>Degree:</b> <%= e.degree %><br><br>
        <p><%= e.desc %><p/>
        <hr>
      <% end %>
    <%else %>
      <h3>No Educaiton Entered</h3>
    <% end %>
  </div>
</div>
