<h1>Reset Password</h1>
<%= simple_form_for @user, url: password_reset_path(@user.password_reset_token) do |f| %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <div class="form-group">
    <%= f.submit  class: "btn btn-primary" %>
  </div>
<% end %>
