<h1>All Students</h1>

<% @profiles.each do |profile| %>
  <div class="box">
    <div class="thumbnail">
      <img src="<%= profile.avatar.url(:square)%>" alt="...">
      <div class="caption">
        <h3><%= profile.user.full_name %></h3>
        <p class="word"><%= profile.description_short %></p>
        <p><%= link_to "View Profile", profile_path(profile.user.slug), html_options = {class: "btn btn-primary", role: "button"} %></p>
      </div>
    </div>
  </div>
<% end %>
