<h1>Available Students</h1>

  <div class="box">
    <% @profiles.each do |profile| %>
    <div class="thumbnail">
      <img src="<%= Profile.for_hire.select('avatar')%>" alt="...">
      <div class="caption">
        <h3><%= profile.user.full_name %></h3>
        <p class="word"><%= profile.for_hire.select('description_short') %></p>
        <p><%= link_to profile.title, profile_path(profile), html_options = {class: "btn btn-primary", role: "button"} %></p>
      </div>
    </div>
    <% end %>
  </div>
