<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://images.unsplash.com/photo-1436377734980-0ee004df570b?q=80&fm=jpg&s=c9ea8b92dae4ce8f61f616fb44ae003e" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://codecore.com/assets/hand-typing-on-keyboard-3d91ca3b7f3d20a4b7a2c2c525809139.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://codecore.com/assets/hand-typing-on-keyboard-3d91ca3b7f3d20a4b7a2c2c525809139.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-full">
  <div class="row middle_section">
    <div class="col-sm-10 col-sm-offset-1 attribute-content text-center">
      <h1>CodeCore! We deliver the best Rails Developers</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.<p>
    </div>
  </div>
  <div class="row middle_section">
    <div class="container-thumb">
    
    <% @profiles.each do |profile| %>
      <%= render "/profiles/front_page_tile", profile: profile, user: profile.user %>
    <% end %>
    
    </div>
  </div>
  <div class="row middle_section">
    <div class="col-sm-10 col-sm-offset-1 attribute-content text-center">
      <div class="text-left">
        <i class="fa fa-quote-left fa-quote"></i>
      </div>
      <div class="citation-quote">Programming today is a race between software engineers striving to build
        bigger and better idiot-proof programs, and the universe trying to build bigger and
        better idiots. So far,
        the universe is winning.
      </div>
      <div class="text-right source">
        - Rick Cook&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-quote-right fa-quote"></i>
      </div>
    </div>
  </div>
  <div class="row middle_section red_block">
    <div class="col-sm-10 col-sm-offset-1 attribute-content text-center">
      <h1>CodeCore! We deliver the best Rails Students</h1>
      <p class="middle_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.<p>
    </div>
  </div>
  <div class="row middle_section">
    <div class="col-sm-10 col-sm-offset-1 attribute-content text-center">
      <p>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-default btn-lg">Large button</button>
      </p>
    </div>
  </div>
</div>
</div>
