<%= render 'admin/admin_nav' %>
<div class="container">
  <div class="col-md-12">
    <div class="col-md-3">
    <h1>Create a new skill</h1>
    <%= render "tags/form" %>
    </div>
    <div class="col-md-9">
    <%= render "tags/tag_list" %>
    </div>
  </div>
</div>
